.chatMessage{
    margin:0 auto;
    padding-bottom:5px;
    padding-top:5px;
}
.yourChat{
    background: rgb(173, 235, 255);
}
.opponentsChat{
    background: rgb(255, 255, 128);   
}
#chat{
    left: 100%;
    width: 200px;
    position: fixed;
    margin-left: -300px;
    bottom: 20px;
}
#chatInput{
    width:100px;
    float:left;
}
#chatEntered{
    float:left;
}
#chatDialog{
    height:300px;
    overflow:auto;
}
#gameConnectionBox{
    width:100%;
    height:100%;
    position:fixed;
    z-index:2;
    display:flex;
    align-items: center;
    justify-content: center;
    /*pather found here
    http://lea.verou.me/css3patterns/#carbon-fibre
    */
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#833737;
    background-size:16px 16px;
}
#gameConnectionInnerBox{
    width:200px;
    height:200px;
    padding:50px;
    opacity:1;
    background:rgba(255,255,255,.9);
    border-radius:25px;
}
body{
    margin: 0;
}